<% layout('./layout/page.ejs') %>
<h1 class="text-center"><%= title %></h1>
<div class="row">
    <% designs.forEach(design => { %>
        <div class="col-md-4">
            <div class="card">
                <img src="<%= design.picture %>" class="card-img-top" alt="<%= design.title %>">
                <div class="card-body">
                    <h5 class="card-title"><%= design.title %></h5>
                    <p class="card-text"><%= design.desc %></p>
                    <a href="/<%= design.title %>" class="btn btn-primary">Подробнее</a>
                    <a href="/add" class="btn btn-success mb-3">Добавить новый дизайн</a>
                </div>
            </div>
        </div>
    <% }); %>
</div>
