<form action="/search" method="GET" class="d-flex mb-4">
    <input 
      type="text" 
      name="q" 
      class="form-control me-2" 
      placeholder="Введите название дизайна" 
      required>
    <button type="submit" class="btn btn-primary">Найти</button>
  </form>
  

<% layout('./layout/page.ejs') %>
<h1 class="text-center"><%= title %></h1>
<div class="row">
    <% if (designs.length > 0) { %>
        <% designs.forEach(design => { %>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="<%= design.picture %>" class="card-img-top" alt="<%= design.title %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= design.title %></h5>
                        <p class="card-text"><%= design.desc %></p>
                        <a href="/<%= design.title %>" class="btn btn-primary mb-2">Подробнее</a>
                        <a href="/edit/<%= design._id %>" class="btn btn-warning btn-sm">Редактировать</a>
                        <a href="/delete/<%= design._id %>" class="btn btn-danger btn-sm" onclick="return confirm('Вы уверены, что хотите удалить этот дизайн?')">Удалить</a>
                    </div>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p class="text-center">Дизайны не найдены</p>
    <% } %>
</div>
<a href="/add" class="btn btn-success">Добавить новый дизайн</a>
